.container {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    background-color: black;
    border-radius: 30px;
}   

#display {
    display: flex;
    text-align: right;
    height: 80px;
    line-height: 60px;
    padding:50px 30px 20px 30px;
    background-clip: content-box;
    background-color: white;
    color: black;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
    justify-items: center;
    align-items: center;
   
}

.button {
    display: flex;
    border-radius: 100%;
    background-color: white;
    height: 60px;
    width: 60px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    font-weight: 800;
    font-size: 30px;
    align-items: center;
}